.container{
    clear:both;
    overflow:auto; 
}
  
  nav{
      float:left;
      margin-left: 220px;
      padding-top: 15px ;
      
      margin-left: 30px;

  
  }
  
  .logo{
      float:left;
    }
  
  ul li{
          
      color: rgba(0, 0, 0, 0.723);
       display: inline-block;
       padding:10px;
       font-size:22px; 
       font-family:Arial, Helvetica, sans-serif;
       font-weight: bold ;
       
  }
  
  ul li:hover{
      background-color: rgb(210, 254, 255);
  }
  h1.logo2
{   font-size: 40px;
    font-weight: bold;
    padding:0px 0px 0px 30px;
    color: rgb(17, 44, 149);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20.8px 0px 26.8 30px;
    text-shadow: 0 5px 10px rgb(0 0 0 / 0.3);


}